VITE_APP_NAME=Auth Starter
VITE_API_URL=http://localhost:3000/api
VITE_AUTH_LOGIN_REDIRECT=/dashboard
VITE_AUTH_LOGOUT_REDIRECT=/login
VITE_DEFAULT_AUTHENTICATED_ROUTE=/dashboard
VITE_DEFAULT_PUBLIC_ROUTE=/login
